# Terraform
**/.terraform/
*.tfstate
*.tfstate.*
crash.log
.terraform.lock.hcl

# Generirano skriptom pokreni.sh
*.auto.tfvars.json

# Lokalne varijable i tajne
*.tfvars
!*.tfvars.primjer
*.pem
id_*
!id_*.pub

.DS_Store
